/* SETTINGS BODY */
:root {
    /* COLOR */
    --white: #fff;
    --black: #000;
    --gray-gray-3: #dee2e6;
    --gray-gray-4: #ced4da;
    --gray-gray-5: #adb5bd;
    --gray-gray-6: #868e96;
    --gray-gray-9: #212529;
    --blue-blue-0: #e7f5ff;
    --blue-blue-5: #339af0;
    --blue-blue-9: #1864ab;
    --red-red-9: #c92a2a;

    /* font-family */
    --font-family: "Open Sans", sans-serif;
    --second-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: var(--font-family);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* HEADER */

.header__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-gray-4);
    padding: 6px 16px;
}

.header--left {
    display: flex;
    gap: 32px;
}

.header--left-logo {

    width: 243px;
}

.header--left-logo__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    color: var(--black);
}

.header--left-data {

    height: 63px;
}

.header--left-logo-data__form-select {
    border: 1px solid var(--blue-blue-5);
    border-radius: 2px;
    padding: 6px 0;
    width: 183px;
}

.header--left-logo-data__form-select-option {
    text-align: center;
    font-size: 12px;
    line-height: 155%;
    color: var(--gray-gray-9);
}

.header--left-logo-data__payments {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-gray-4);
    border-radius: 2px;
    padding: 8px;
    width: 231px;
}

.header--left-logo-data__payments-money {
    font-weight: 700;
    line-height: 155%;
    color: var(--black);
}

.header--left-logo-data__payments-date {
    display: flex;
    justify-content: space-between;
}

.header--left-logo-data__payments-date--text {
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--gray-gray-6);
}

.header--right {}

.header--right__images {
    width: 24px;
    height: 24px;
}

/* MAIN SIDEBAR */

.main--sidebar {
    border-right: 1px solid var(--gray-gray-4);
    padding: 32px 0px;
    width: 299px;
    height: 939px;
}

.main--sidebar__nav {
    height: 646px;
}

.main--sidebar-nav-list__items {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    height: 50px;
}

.main--sidebar-nav-list__items-hiding {
    border-left: 1px solid var(--gray-gray-3);
    margin-left: 30px;
    padding-left: 15px;
}

.main--sidebar-nav-list-items__images {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 6px;
    width: 30px;
    height: 30px;
    background: var(--blue-blue-0);
}

.main--sidebar-nav-list-items__link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: var(--black);
    padding: 6px 0px;
    border: 1px solid var(--white);
    transition: 0.4s ease;
}

.main--sidebar-nav-list-items__link:hover {
    border: 1px solid var(--blue-blue-9);
}

.main--sidebar__user-panel {
    border-top: 1px solid var(--gray-gray-4);
    width: 267px;
    height: 134px;
    margin: 0 auto;
}

.main--sidebar__user-panel-info {
    padding: 9.5px 0;
}

.main--sidebar__user-panel-info__data {}

.main--sidebar__user-panel-info__fullname {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--black);
}

.main--sidebar__user-panel-info__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    color: var(--gray-gray-5);
}

.main--sidebar__user-panel__nav {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 15px -5px rgba(0, 0, 0, 0.05), 0 7px 7px -5px rgba(0, 0, 0, 0.04);
}

.main--sidebar__user-panel-nav__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.main--sidebar__user-panel-nav__items {
    border-radius: 4px;
    padding: 7px 12px;
}

.main--sidebar__user-panel-nav__images {}

.main--sidebar__user-panel-nav__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: var(--black);
    border: 1px solid var(--white);
    padding: 1px 0px;
    transition: 0.4s ease;
}

.main--sidebar__user-panel-nav__link:hover {
    border: 1px solid var(--blue-blue-9);
}
