.main-info {
    margin: 32px 0 0 32px;
}

.main-info__content {
    display: flex;
    gap: 24px;
}

.main-content__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 135%;
    color: var(--black);
}

.main-content__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block__left {
    border: 1px solid var(--gray-gray-4);
    border-radius: 2px;
    padding: 12px 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 15px -5px rgba(0, 0, 0, 0.05), 0 7px 7px -5px rgba(0, 0, 0, 0.04);
}

.main-content__table {
    border-collapse: collapse;
}

.main-content-table__tr {

}

.main-content-table__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: var(--blue-blue-9);
}

.main-content-table__td-left{
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--black);
    border-bottom: 1px solid var(--gray-gray-4);
    padding: 4px 16px;
    width: 260px;
    height: 30px;
}

.main-content-table__td-right{
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: var(--black);
    border-bottom: 1px solid var(--gray-gray-4);
    padding: 4px 16px;
    width: 260px;
    height: 30px;
}

.block__left-wrap {
    border: 1px solid var(--gray-gray-4);
    border-radius: 2px;
    padding: 8px 14px 8px 18px;
    width: 520px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__left-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 155%;
    color: var(--blue-blue-9);
}
