.main {
    padding: 32px 0 79px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

.reg-form__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
}

.reg-form__login {
    line-height: 155%;
    text-align: center;
    color: var(--gray-gray-5);
}

.reg__form-link {
    color: var(--blue-blue-9);
}

.reg-form {
    border: 1px solid var(--gray-gray-3);
    border-radius: 8px;
    padding: 31px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04), 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.reg-form__group {
    display: flex;
    flex-direction: column;
}

.form__error-star {
    display: none;
    color: var(--red-red-7);
}

.form-error__message {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-error__content {
    display: flex;
    gap: 7px;
}

.form-error__text {
    font-size: 14px;
    line-height: 155%;
    color: var(--red-red-6);
}

.form-error__lines {
    display: flex;
    gap: 5px;
}

.form-error__line {
    border-radius: 4px;
    width: 76px;
    height: 4px;
    background: var(--gray-gray-2);
}

.reg-form__wrapper {
    display: flex;
    gap: 28px;
}

.reg-form__flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reg-form__label {
    font-weight: 600;
    line-height: 155%;
    color: var(--gray-gray-9);
}

.reg-form__input {
    border: 1px solid var(--gray-gray-4);
    border-radius: 2px;
    padding: 6px 14px;
    width: 320px;
    outline: none;
    font-size: 16px;
    line-height: 155%;
}

.reg-form__input::placeholder {
    color: var(--gray-gray-5);
}

.reg-form__right {
    /* display: none; */
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 271px;
}

.form-checkbox__input {
    border: 1px solid var(--gray-gray-4);
    border-radius: 2px;
    padding: 2px;
    width: 24px;
    height: 24px;
    accent-color: var(--blue-blue-9);
}

.form-checkbox__label {
    font-weight: 600;
    line-height: 155%;
}

.from-checkbox__link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--blue-blue-9);
}

.form-button__container {
    margin: 0 auto;
}

.form-button__next {
    background: var(--blue-blue-9);
    border: none;
    border-radius: 4px;
    padding: 10px 18px 10px 22px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
}

.form-button__next:active {
    transform: translateY(6px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
