@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: var(--font-family);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* HEADER */

.header__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-gray-4);
    padding: 6px 16px;
}

.header__content-left {
    display: flex;
    gap: 32px;
}

.header__logo-link {
    width: 243px;
}

.header--left-logo__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    color: var(--black);
}

.header__content-left-data {
    height: 63px;
}

.header__form-select {
    border: 1px solid var(--blue-blue-5);
    border-radius: 2px;
    padding: 6px 0;
    width: 183px;
}

.header__form-option {
    text-align: center;
    font-size: 12px;
    line-height: 155%;
    color: var(--gray-gray-9);
}

.header--left-logo-data__payments {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-gray-4);
    border-radius: 2px;
    padding: 8px;
    width: 231px;
}

.header--left-logo-data__payments-money {
    font-weight: 700;
    line-height: 155%;
    color: var(--black);
}

.header--left-logo-data__payments-date {
    display: flex;
    justify-content: space-between;
}

.header--left-logo-data__payments-date--text {
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--gray-gray-6);
}

/* ASIDE-BAR */

.aside__bar {
    border-right: 1px solid var(--gray-gray-4);
    padding: 32px 0px;
    width: 299px;
    height: 939px;
}

.main--sidebar__nav {
    height: 646px;
}

.main--sidebar-nav-list__items {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    height: 50px;
}

.main--sidebar-nav-list__items-hiding {
    border-left: 1px solid var(--gray-gray-3);
    margin-left: 30px;
    padding-left: 15px;
}

.main--sidebar-nav-list-items__images {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 6px;
    width: 30px;
    height: 30px;
    background: var(--blue-blue-0);
}

.main--sidebar-nav-list-items__link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: var(--black);
    padding: 6px 0px;
    border: 1px solid var(--white);
    transition: 0.4s ease;
}

.main--sidebar-nav-list-items__link:hover {
    border: 1px solid var(--blue-blue-9);
}

.main--sidebar__user-panel {
    border-top: 1px solid var(--gray-gray-4);
    width: 267px;
    height: 134px;
    margin: 0 auto;
}

.main--sidebar__user-panel-info {
    padding: 9.5px 0;
}

.main--sidebar__user-panel-info__data {}

.main--sidebar__user-panel-info__fullname {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--black);
}

.main--sidebar__user-panel-info__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    color: var(--gray-gray-5);
}

.main--sidebar__user-panel__nav {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 10px 15px -5px rgba(0, 0, 0, 0.05), 0 7px 7px -5px rgba(0, 0, 0, 0.04);
}

.main--sidebar__user-panel-nav__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.main--sidebar__user-panel-nav__items {
    border-radius: 4px;
    padding: 7px 12px;
}

.main--sidebar__user-panel-nav__images {}

.main--sidebar__user-panel-nav__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: var(--black);
    border: 1px solid var(--white);
    padding: 1px 0px;
    transition: 0.4s ease;
}

.main--sidebar__user-panel-nav__link:hover {
    border: 1px solid var(--blue-blue-9);
}

/* FOOTER */

.footer__content {
    border-top: 1px solid var(--gray-gray-2);
    padding: 32px;
    /* height: 178px; */
    background: var(--gray-gray-1);
}

.footer__main {
    padding: 0px 16px;
    width: 1128px;
    height: 114px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__main-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__main-left {
}

.footer__main-right-images {
    height: 48px;
    width: 74px;
}

.footer__main-right-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: var(--gray-gray-6);
}

.footer__main-left {
}

.footer__main-left-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--gray-gray-6);
}
.footer__main-left-text {
    font-family: var(--font3);
    font-size: 12px;
    line-height: 155%;
}
