:root {
    /* COLOR */
    --black: #000;
    --white: #fff;
    --gray-gray-1: #f1f3f5;
    --gray-gray-2: #e9ecef;
    --gray-gray-3: #dee2e6;
    --gray-gray-4: #ced4da;
    --gray-gray-5: #adb5bd;
    --gray-gray-6: #868e96;
    --gray-gray-9: #212529;
    --blue-blue-9: #1864ab;
    --red-red-6: #fa5252;
    --red-red-7: #f03e3e;

    /* font-family */
    --font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}
