{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/contact.js" %}" defer></script>
    {% block style %}{% endblock style %}
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <div class="header__content-left">
                    <a href="{% url "information" %}" class="header__logo-link flex">
                        <img src="{% static "images/header/logo.svg" %}" alt="Логотип" class="header--left-logo__images">
                        <p class="header--left-logo__title">
                            Личный кабинет потребителя
                        </p>
                    </a>
                    <div class="header__content-left-data flex">
                        <form action="" class="header__form">
                            <select name="" id="" class="header__form-select">
                                <option value="46546141645654654" class="header__form-option">
                                    л/с 46546141645654654
                                </option>
                                <option value="46546141645654654" class="header__form-option">
                                    л/с 46546141645654654
                                </option>
                                <option value="46546141645654654" class="header__form-option">
                                    л/с 46546141645654654
                                </option>
                            </select>
                        </form>
                        <div class="header--left-logo-data__payments">
                            <p class="header--left-logo-data__payments-money">
                                13 456,00 ₽
                            </p>
                            <div class="header--left-logo-data__payments-date">
                                <p class="header--left-logo-data__payments-date--text">
                                    к оплате на 01.01.2023
                                </p>
                                <img src="{% static "images/header/rub.svg" %}" alt="Рубли" class="header--left-logo-data__payments-date--images">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__content-right flex">
                    <img src="{% static "images/header/help.svg" %}" alt="Помощь" class="header__content-right-images">
                    <img src="{% static "images/header/alert.svg" %}" alt="Оповещения" class="header__content-right-images">
                </div>
            </div>
        </div>
    </header>
    <div class="container container-flex">
        <aside class="aside">
            <div class="aside__bar">
                <nav class="main--sidebar__nav">
                    <ul class="main--sidebar-nav__list">
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/information.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "information" %}" class="main--sidebar-nav-list-items__link">
                                Информация
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/metering_devices.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "metering_devices" %}" class="main--sidebar-nav-list-items__link">
                                Приборы учёта
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/metering_devices.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "accrual_and_payment_history" %}" class="main--sidebar-nav-list-items__link">
                                История начислений и оплат
                            </a>
                        </li>
                        <div class="main--sidebar-nav-list__items-hiding">
                            <li class="main--sidebar-nav-list__items">
                                <a href="{% url "current_period" %}" class="main--sidebar-nav-list-items__link">
                                    Начислено за текущий период
                                </a>
                            </li>
                            <li class="main--sidebar-nav-list__items">
                                <a href="{% url "assessment" %}" class="main--sidebar-nav-list-items__link">
                                    Начисления
                                </a>
                            </li>
                            <li class="main--sidebar-nav-list__items">
                                <a href="{% url "paying" %}" class="main--sidebar-nav-list-items__link">
                                    Платежи
                                </a>
                            </li>
                        </div>
                        {% comment %} <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/metering_devices.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <select href="{% url "accrual_and_payment_history" %}" class="main--sidebar-nav-list-items__link">
                                История начислений и оплат
                                <option value="">
                                    <a href="{% url "current_period" %}" class="main--sidebar-nav-list-items__link">
                                        Начислено за текущий период
                                    </a>
                                </option>
                                <option value="">
                                    <a href="{% url "assessment" %}" class="main--sidebar-nav-list-items__link">
                                        Начисления
                                    </a>
                                </option>
                                <option value="">
                                    <a href="{% url "paying" %}" class="main--sidebar-nav-list-items__link">
                                        Платежи
                                    </a>
                                </option>
                            </select>
                        </li> {% endcomment %}
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/payment.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "payment" %}" class="main--sidebar-nav-list-items__link">
                                Оплаты
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/receipts.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "receipts" %}" class="main--sidebar-nav-list-items__link">
                                Квитанцнии
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/message.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "message" %}" class="main--sidebar-nav-list-items__link">
                                Обращения
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/notification.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "notification" %}" class="main--sidebar-nav-list-items__link">
                                Уведомления
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/consumer_personal_accounts.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "consumer_personal_accounts" %}" class="main--sidebar-nav-list-items__link">
                                Лицевые счета потребителя
                            </a>
                        </li>
                        <li class="main--sidebar-nav-list__items">
                            <img src="{% static "images/sidebar/contact.svg" %}" alt="" class="main--sidebar-nav-list-items__images">
                            <a href="{% url "contact" %}" class="main--sidebar-nav-list-items__link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="main--sidebar__user-panel">
                    <div class="main--sidebar__user-panel-info">
                        <div class="main--sidebar__user-panel-info__data">
                            <p class="main--sidebar__user-panel-info__fullname">Иван Иванов Иванович</p>
                            <p class="main--sidebar__user-panel-info__email">mail@mail.ru</p>
                        </div>
                    </div>
                    <nav class="main--sidebar__user-panel__nav">
                        <ul class="main--sidebar__user-panel-nav__list">
                            <li class="main--sidebar__user-panel-nav__items">
                                <img src="{% static "images/sidebar/user-panel/settings.svg" %}" alt="" class="main--sidebar__user-panel-nav__images">
                                <a href="{% url "settings" %}" class="main--sidebar__user-panel-nav__link">Настройки</a>
                            </li>
                            <li class="main--sidebar__user-panel-nav__items">
                                <img src="{% static "images/sidebar/user-panel/exit.svg" %}" alt="" class="main--sidebar__user-panel-nav__images">
                                <a href="{% url "login" %}" class="main--sidebar__user-panel-nav__link">Выйти</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% comment %} <div class="main--sidebar__user-panel">
                    <div class="main--sidebar__user-panel-info">
                        <div class="main--sidebar__user-panel-info__data">
                            <select name="" id="">
                                <option value="">
                                    <p class="main--sidebar__user-panel-info__fullname">Иван Иванов Иванович</p>
                                    <p class="main--sidebar__user-panel-info__email">mail@mail.ru</p>
                                </option>
                                <option value="">
                                    <img src="{% static "images/sidebar/user-panel/settings.svg" %}" alt="" class="main--sidebar__user-panel-nav__images">
                                    <a href="{% url "settings" %}" class="main--sidebar__user-panel-nav__link">Настройки</a>
                                </option>
                                <option value="">
                                    <img src="{% static "images/sidebar/user-panel/exit.svg" %}" alt="" class="main--sidebar__user-panel-nav__images">
                                    <a href="{% url "login" %}" class="main--sidebar__user-panel-nav__link">Выйти</a>
                                </option>
                            </select>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </aside>
        <main class="main">
            {% block main %}{% endblock main %}
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__main">
                    <div class="footer__main-right">
                        <img src="{% static "images/footer/logo.svg" %}" alt="" class="footer__main-right-images">
                        <p class="footer__main-right-text">
                            ©ООО “ДТС”, 2023
                        </p>
                    </div>
                    <div class="footer__main-left">
                        <p class="footer__main-left-title">
                            Офис обслуживания
                        </p>
                        <p class="footer__main-left-text">
                            г. Батайск, ул. Козлова, д. 32 <br>
                            Тел:
                            <a href="tel:88635224252">
                                +7 (86352) 24-25-2
                            </a> <br>
                            Пн- Пт: 17:00 - 22:00 <br>
                            Сб-Вс: выходной <br>
                            mail@mail.ru <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
