{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock style %}
{% block maps %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_maps }}&lang=ru_RU" type="text/javascript"></script>
    {% comment %} <script src="{% static "js/contact.js" %}" type="text/javascript"></script> {% endcomment %}
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            // Создание карты.
            var myMap = new ymaps.Map("map", {
                {% comment %} center: [55.76, 37.64], {% endcomment %}
                center: [{{ latitude }}, {{ longitude }} ],
                zoom: 7
            });
        }
    </script>
{% endblock maps %}

{% block main %}
    <div class="main-content flex-main">
        <p class="main-content__title">
            Контакты
        </p>
        <div class="main-content__table-wrapper">
            <p class="main-content__subtitle">
                Сведения об офисе обслуживания
            </p>
            <table class="main-content__table">
                <tbody>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Адрес
                        </td>
                        <td class="main-content__cell">
                            {{ address }}
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Номера телефона
                        </td>
                        <td class="main-content__cell">
                            {{ phone_numbers }}
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            График работы
                        </td>
                        <td class="main-content__cell">

                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell text-align">
                            Понедельник-пятница
                        </td>
                        <td class="main-content__cell">

                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell text-align">
                            Суббота-воскресенье
                        </td>
                        <td class="main-content__cell">

                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Адреса электронной почты
                        </td>
                        <td class="main-content__cell">
                            {{ email_address }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <body>
            <div id="map">

            </div>
        </body>
    </div>
{% endblock main %}
