{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{% static "css/contacts.css" %}">
    <script src="{% static "js/contacts/js" %}" defer></script>
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="sidebar">
                <div class="sidebar__top">
                    <nav class="sidebar__top-nav">
                        <ul class="sidebar__top-nav__list">
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/informations.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Информация</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/metering-devices.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Приборы учёта</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/history-of-charges-and-payments.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">История начислений и оплат</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/payments.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Оплаты</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar__bottom">

                </div>
            </div>
        </div>
    </main>
</body>
</html>
