{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock style %}
{% block maps %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_maps }}&lang=ru_RU" type="text/javascript"></script>
    {% comment %} <script src="{% static "js/contact.js" %}" type="text/javascript"></script> {% endcomment %}
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            let center = [{{ office_latitude }}, {{ office_longitude }}];

            var myMap = new ymaps.Map("map", {
                center: center,
                zoom: 16
            });

            let placemark = new ymaps.Placemark(center, {}, {

            });

            myMap.controls.remove('geolocationControl');
            myMap.controls.remove('searchControl');
            myMap.controls.remove('trafficControl');
            myMap.controls.remove('fullscreenControl');
            myMap.controls.remove('rulerControl');

            myMap.geoObjects.add(placemark);
        }
    </script>
{% endblock maps %}

{% block main %}
    <div class="main-content flex-main">
        <p class="main-content__title">
            Контакты
        </p>
        <div class="main-content__table-wrapper">
            <p class="main-content__subtitle">
                Сведения об офисе обслуживания
            </p>
            <table class="main-content__table">
                <tbody>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Адрес
                        </td>
                        <td class="main-content__cell">
                            {{ office_address }}
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Номера телефона
                        </td>
                        <td class="main-content__cell">
                            {{ phone_number }}
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            График работы
                        </td>
                        <td class="main-content__cell">

                        </td>
                    </tr>
                    {% for schedule_day in work_schedule_days %}
                        <tr class="main-content__row">
                            <td class="main-content__cell text-align">{{ schedule_day.day_of_week }}</td>
                            {% if schedule_day.is_off_day %}
                                <td class="main-content__cell">Выходной</td>
                            {% else %}
                                <td class="main-content__cell">{{ schedule_day.start_time|date:"H:i" }} – {{ schedule_day.end_time|date:"H:i" }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Адреса электронной почты
                        </td>
                        <td class="main-content__cell">
                            {{ email }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <body>
            <div class="map-container">
                <div id="map">

                </div>
            </div>
        </body>
    </div>
{% endblock main %}
