{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock style %}
{% block maps %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
{% endblock maps %}

{% block main %}
    <div class="main-content">
        <p class="main-content__title">
            Контакты
        </p>
        <div class="main-content__table-wrapper">
            <p class="main-content__subtitle">
                Сведения об офисе обслуживания
            </p>
            <table class="main-content__table">
                <tbody>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Адрес
                        </td>
                        <td class="main-content__cell">
                            г. Батайск, ул. Козлова, д. 32
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Номера телефона
                        </td>
                        <td class="main-content__cell">
                            +7 (86352) 24-25-2
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            График работы
                        </td>
                        <td class="main-content__cell">

                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell text-align">
                            Понедельник-пятница
                        </td>
                        <td class="main-content__cell">
                            09:00 – 21:00
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell text-align">
                            Суббота-воскресенье
                        </td>
                        <td class="main-content__cell">
                            выходной
                        </td>
                    </tr>
                    <tr class="main-content__row">
                        <td class="main-content__cell--header">
                            Адреса электронной почты
                        </td>
                        <td class="main-content__cell">
                            mail@mail.ru
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}
