{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{% static "css/contacts.css" %}">
    <script src="{% static "js/contacts/js" %}" defer></script>
</head>
<body>
    <main class="main">
        <div class="container">
            <div class="sidebar">
                <div class="sidebar__top">
                    <nav class="sidebar__top-nav">
                        <ul class="sidebar__top-nav__list">
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/informations.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Информация</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/metering-devices.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Приборы учёта</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/history-of-charges-and-payments.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">История начислений и оплат</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items top-nav__items-border">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Начислено за текущий период</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items top-nav__items-border">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Начисления</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items top-nav__items-border">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Платежи</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/payments.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Оплаты</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/quitantznii.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Квитанцнии</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/message-square.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Обращения</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/notifications.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Уведомления</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/сonsumer-personal-accounts.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Лицевые счета потребителя</p>
                                </a>
                            </li>
                            <li class="sidebar__top-nav__items">
                                <img class="sidebar__top-nav__images" src="{% static "images/contacts.svg" %}" alt="#">
                                <a href="" class="sidebar__top-nav__link">
                                    <p class="sidebar__top-nav__text">Контакты</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar__bottom">
                    <div class="sidebar__bottom-personal__data">
                        <div class="sidebar__bottom-personal__data-items">
                            <p class="bottom-personal__data-fullname">
                                Иван Иванов Иванович
                            </p>
                            <p class="bottom-personal__data-email">
                                mail@mail.ru
                            </p>
                        </div>
                        <div class="bottom-personal__data-button">
                            <img class="bottom-personal__data-images" src="{% static "images/down-arrow.svg" %}" alt="Стрелочка">
                        </div>
                    </div>
                    <div class="sidebar__bottom-personal__settings">
                        <nav class="bottom-personal__settings">
                            <ul class="bottom-personal__settings-lists">
                                <li class="bottom-personal__settings-items">
                                    <img src="{% static "images/settings.svg" %}" alt="" class="bottom-personal__settings-images">
                                    <a href="" class="bottom-personal__settings-link">
                                        <p class="bottom-personal__settings-text">
                                            Настройки
                                        </p>
                                    </a>
                                </li>
                                <li class="bottom-personal__settings-items">
                                    <img src="{% static "images/exit.svg" %}" alt="" class="bottom-personal__settings-images">
                                    <a href="" class="bottom-personal__settings-link">
                                        <p class="bottom-personal__settings-text">
                                            Выйти
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
