{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/information.css" %}">
{% endblock style %}

{% block main %}
    <div class="main-info">
        <p class="main-content__title">Информация</p>
        <div class="main-info__content">
            <div class="main-info__left">
                <div class="block__left">
                    <p class="main-content-table__title">Сведения о потребителе</p>
                    <table class="main-content__table">
                        <tbody>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">ФИО</td>
                            <td class="main-content-table__td-right">Иванов Иван Иванович</td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                            Номер текущего лицевого счёта
                            </td>
                            <td class="main-content-table__td-right">456461651654321365465</td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">Адрес помещения</td>
                            <td class="main-content-table__td-right">
                            344082, Ростовская область, г. Ростов-на-Дону, ул. Козлова, д.32,
                            кв.44
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">Площадь помещения</td>
                            <td class="main-content-table__td-right">99 кв.м.</td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                            Количество проживающих человек
                            </td>
                            <td class="main-content-table__td-right">332</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block__left">
                    <p class="main-content-table__title">Сведения об офисе обслуживания</p>
                    <table class="main-content__table">
                        <tbody>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">Адрес</td>
                            <td class="main-content-table__td-right">
                            г. Батайск, ул. Козлова, д. 32
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">Номера телефона</td>
                            <td class="main-content-table__td-right">+7 (86352) 24-25-2</td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">График работы</td>
                            <td class="main-content-table__td-right"></td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">Понедельник-пятница</td>
                            <td class="main-content-table__td-right">09:00 – 21:00</td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">Суббота-воскресенье</td>
                            <td class="main-content-table__td-right">выходной</td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                            Адреса электронной почты
                            </td>
                            <td class="main-content-table__td-right">mail@mail.ru</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block__left">
                    <div class="block__left-wrap">
                        <a class="block__left-link" href="">
                            Оставить обращение
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-content__left">
                <div class="block__left">
                    <p class="main-content-table__title">
                        Сведения об оплате
                    </p>
                    <table class="main-content__table">
                        <tbody>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Последний месяц учета
                            </td>
                            <td class="main-content-table__td-right">
                                02.2023
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Последние показания ИПУ
                            </td>
                            <td class="main-content-table__td-right">

                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                — ИПУ №1111
                            </td>
                            <td class="main-content-table__td-right">
                                52 м3
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                — ИПУ №1111
                            </td>
                            <td class="main-content-table__td-right">
                                99 кв.м.
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Общий долг на 01.02.2023
                            </td>
                            <td class="main-content-table__td-right">
                                13 456,00 ₽
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Начислено всего в текущем периоде
                            </td>
                            <td class="main-content-table__td-right">
                                500,00 ₽
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Начислено пени всего
                            </td>
                            <td class="main-content-table__td-right">
                                1 255 500,00 ₽
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Последняя олата
                            </td>
                            <td class="main-content-table__td-right">
                                17 000,00 ₽ (02.12.2025)
                            </td>
                        </tr>
                        <tr class="main-content-table__tr">
                            <td class="main-content-table__td-left">
                                Итого долг
                            </td>
                            <td class="main-content-table__td-right">
                                99 999 999,00 ₽
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block__left">
                    <p class="main-content-table__title">
                        Настройки отправки и получения данных
                    </p>
                    <table class="main-content__table">
                        <tbody>
                            <tr class="main-content-table__tr">
                                <td class="main-content-table__td-left">
                                    Заблокировать передачу показаний иным способом чем через ЛК
                                </td>
                                <td class="main-content-table__td-right">
                                    <input type="radio">
                                </td>
                            </tr>
                            <tr class="main-content-table__tr">
                                <td class="main-content-table__td-left">

                                </td>
                                <td class="main-content-table__td-right">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
