{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{% static "css/login_to_personal_account.css" %}">
    <script src="{% static "js/login_to_personal_account.js" %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__main">
                <div class="header__logo">
                    <a class="header__logo-link" href="#">
                        <img class="header__logo-img" src="{% static "images/logo.svg" %}" alt="logo">
                    </a>
                    <p class="header__logo-text">
                        Личный кабинет потребителя
                    </p>
                </div>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-items">
                            <a class="header__nav-link" href="#">
                                <img class="header__help" src="{% static "images/help.svg" %}" alt="help">
                            </a>
                        </li>
                        <li>
                            <a class="header__nav-link" href="#">
                                <img class="header__notification" src="{% static "images/notification.svg" %}" alt="notification">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="authorization">
                <div class="authorization__main">
                    <h2 class="authorization__title">
                        Вход в личный кабинет
                    </h2>
                    <div class="authorization__text">
                        <p class="authorization__text-content">
                            Нет учетной записи?
                        </p>
                        <a class="authorization__text-content authorization__link" href="{% url 'registration' %}">
                            Зарегистрироваться
                        </a>
                    </div>
                </div>
                <form action="{% url 'login' %}" method="post" class="authorization__form">
                    {% csrf_token %}
                    <div class="authorization__form-group">
                        <label class="form-group__label" for="email">
                            E-mail
                            <span class="error_star">
                                *
                            </span>
                        </label>
                        <input class="form-group__input" type="email" id="email" name="email" placeholder="Введите E-mail">
                        <span class="form-group__input-error">
                            Введите адрес электронной почты
                        </span>
                    </div>
                    <div class="authorization__form-group">
                        <label class="form-group__label" for="password">
                            Пароль
                            <span class="error_star">
                                *
                            </span>
                        </label>
                        <input class="form-group__input" type="password" id="password" name="password" placeholder="Введите пароль">
                        <span  class="form-group__input-error">
                            Пароль не совпадают
                        </span>
                    </div>
                    <div class="authorization__form-checkbox">
                        <div class="form-checkbox">
                            <input class="form-checkbox__input" type="checkbox" id="checkbox" name="checkbox">
                            <label class="form-checkbox__label" for="checkbox">
                                Запомнить меня
                            </label>
                        </div>
                        <a class="form-checkbox__link" href="#">
                            Забыли пароль?
                        </a>
                    </div>
                    <div class="authorization__form-button">
                        <a href="{% url "informations" %}">
                            <input class="form-button__btn" type="submit" value="Войти">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__main">
                <div class="footer__items">
                    <div class="footer__items-left">
                        <img src="{% static "images/logo.svg" %}" alt="logo" class="footer__items-left-img-logo">
                        <p class="footer__items-left-text">©ООО “ДТС”, 2023</p>
                    </div>
                    <div class="footer__items-right">
                        <p class="footer__items-right-title">
                            Офис обслуживания
                        </p>
                        <p class="footer__items-right-text">
                            г. Батайск, ул. Козлова, д. 32<br>
                            <a class="items-right-text__phone" href="tel:+78635224252">Тел: +7 (86352) 24-25-2</a><br>
                            Пн- Пт: 17:00 - 22:00<br>
                            Сб-Вс: выходной<br>
                            mail@mail.ru
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
