{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/metering_devices.css" %}">
{% endblock style %}

{% block main %}
    <div class="main-content">
        <div class="main-content__devices">
            <p class="main-content__title">
                Приборы учета
            </p>
            <div class="main-content__wrapper">
                <p class="main-content__wrapper-title">
                    ИПУ № 255533
                </p>
                <table class="main-content__table">
                    <tbody>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Текущие показания
                            </td>
                            <td class="main-content__table-td__right">
                                <input type="text" class="main-content__table-input" placeholder="166,3 кв.м.">
                            </td>
                        </tr>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Предыдущие показания
                            </td>
                            <td class="main-content__table-td__right">
                                255,5 м3
                            </td>
                        </tr>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Потребление за отчётный период
                            </td>
                            <td class="main-content__table-td__right">
                                99 м3
                            </td>
                        </tr>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Дата следующей поверки
                            </td>
                            <td class="main-content__table-td__right">
                                04.09.2022
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="main-content__wrapper-btn">
                    <button class="main-content__button">
                        Передать показания
                    </button>
                </div>
            </div>
            <div class="main-content__wrapper">
                <p class="main-content__wrapper-title">
                    ИПУ № 255533
                </p>
                <table class="main-content__table">
                    <tbody>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Текущие показания
                            </td>
                            <td class="main-content__table-td__right">
                                <input type="text" class="main-content__table-input" placeholder="166,3 кв.м.">
                            </td>
                        </tr>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Предыдущие показания
                            </td>
                            <td class="main-content__table-td__right">
                                255,5 м3
                            </td>
                        </tr>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Потребление за отчётный период
                            </td>
                            <td class="main-content__table-td__right">
                                99 м3
                            </td>
                        </tr>
                        <tr class="main-content__table-tr">
                            <td class="main-content__table-td__left">
                                Дата следующей поверки
                            </td>
                            <td class="main-content__table-td__right">
                                04.09.2022
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="main-content__wrapper-btn">
                    <button class="main-content__button">
                        Передать показания
                    </button>
                </div>
            </div>
        </div>
        <div class="main-content__history">
            <p class="main-content__title">
                История переданных показаний
            </p>
        </div>
    </div>
{% endblock main %}
