{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/receipts.css" %}">
{% endblock style %}

{% block main %}
    <p class="title">
        Квитанции
    </p>
    <li class="li">
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Детализация
        </ul>
        <ul class="ul">
            <img src="{% static "images/download.svg" %}" alt="">
        </ul>
    </li>
    <li class="li">
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Детализация
        </ul>
        <ul class="ul">
            <img src="{% static "images/download.svg" %}" alt="">
        </ul>
    </li>
    <li class="li">
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Детализация
        </ul>
        <ul class="ul">
            <img src="{% static "images/download.svg" %}" alt="">
        </ul>
    </li>
    <li class="li">
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Детализация
        </ul>
        <ul class="ul">
            <img src="{% static "images/download.svg" %}" alt="">
        </ul>
    </li>
    <li class="li">
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Детализация
        </ul>
        <ul class="ul">
            <img src="{% static "images/download.svg" %}" alt="">
        </ul>
    </li>
    <li class="li">
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Athena Weissnat
        </ul>
        <ul class="ul">
            Детализация
        </ul>
        <ul class="ul">
            <img src="{% static "images/download.svg" %}" alt="">
        </ul>
    </li>
{% endblock main %}
