{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
    <script src="{% static "js/registration.js" %}" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__main">
          <div class="header__logo">
            <a class="header__logo-link" href="#">
              <img class="header__logo-img" src="{% static "images/logo.svg" %}" alt="logo" />
            </a>
            <p class="header__logo-text">
              Личный кабинет потребителя
            </p>
          </div>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-items">
                <a class="header__nav-link" href="#">
                  <img class="header__help" src="{% static "images/help.svg" %}" alt="help" />
                </a>
              </li>
              <li>
                <a class="header__nav-link" href="#">
                  <img class="header__notification" src="{% static "images/notification.svg" %}" alt="notification" />
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
          <div class="regisration">
              <div class="registration__main">
                  <h2 class="registration__title">
                      Регистрация
                  </h2>
                  <div class="registration__text">
                      <p class="registration__text-content">
                        Уже есть учётная запись?
                      </p>
                      <a class="registration__text-content registration__link" href="{% url "login" %}">
                        Войти
                      </a>
                  </div>
              </div>
              <form action="{% url "registration" %}" method="POST" class="registration__form">
                {% csrf_token %}
                <div class="registration_container">

                  <div class="group__left">
                    <div class="form-group__left">
                      <div class="registration__form-group">
                        <label class="form-group__label" for="full_name">
                            ФИО
                            <span class="error-star">
                              *
                            </span>
                        </label>
                        <input class="form-group__input" type="text" id="full_name" name="full_name" placeholder="Введите ФИО">
                      </div>
                      <div class="registration__form-group">
                          <label class="form-group__label" for="email">
                              E-mail
                              <span class="error-star">
                                *
                              </span>
                          </label>
                          <input class="form-group__input" type="email" id="email" name="email" placeholder="Введите E-mail">
                          <span class="form-group__input-error">
                            Введите адрес электронной почты
                          </span>
                      </div>
                      <div class="registration__form-group">
                          <label class="form-group__label" for="phone">
                              Телефон
                              <span class="error-star">
                                *
                              </span>
                          </label>
                          <input class="form-group__input" type="text" id="phone" name="phone" placeholder="Номер телефона">
                          <span class="form-group__input-error">
                            Введите номер телефона
                          </span>
                      </div>
                    </div>
                  </div>

                  <div class="group__right">
                    <div class="form-group__right">
                      <div class="registration__form-group">
                        <label class="form-group__label" for="password">
                            Пароль
                            <span class="error-star">
                              *
                            </span>
                        </label>
                        <input class="form-group__input" type="password" id="password" name="password" placeholder="Пароль">
                      </div>
                      <div class="form-group__error-password">
                        <div class="error-password__lines">
                          <div class="error-password__lines-items"></div>
                          <div class="error-password__lines-items"></div>
                          <div class="error-password__lines-items"></div>
                          <div class="error-password__lines-items"></div>
                        </div>
                        <div class="group__error-password">
                          <div class="error-password">
                            <img src="{% static "images/cross.svg" %}" alt="Крестик" class="error-password__images">
                            <p class="error-password__text">
                              Содержит только латинские буквы
                            </p>
                          </div>
                          <div class="error-password">
                            <img src="{% static "images/cross.svg" %}" alt="Крестик" class="error-password__images">
                            <p class="error-password__text">
                              Содержит минимум 8 символов
                            </p>
                          </div>
                          <div class="error-password">
                            <img src="{% static "images/cross.svg" %}" alt="Крестик" class="error-password__images">
                            <p class="error-password__text">
                              Включает цифры
                            </p>
                          </div>
                          <div class="error-password">
                            <img src="{% static "images/cross.svg" %}" alt="Крестик" class="error-password__images">
                            <p class="error-password__text">
                              Включает строчные буквы
                            </p>
                          </div>
                          <div class="error-password">
                            <img src="{% static "images/cross.svg" %}" alt="Крестик" class="error-password__images">
                            <p class="error-password__text">
                              Включает заглавные буквы
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="registration__form-group">
                        <label class="form-group__label" for="password">
                            Повторите пароль
                            <span class="error-star">
                              *
                            </span>
                        </label>
                        <input class="form-group__input" type="password" id="repeat_password" name="repeat_password" placeholder="Повторите пароль">
                        <span class="form-group__input-error">Пароли не совпадают</span>
                      </div>
                    </div>
                  </div>



                </div>
                  <div class="registration__form-checkbox">
                      <input class="form-checkbox__input" type="checkbox" id="checkbox" name="checkbox">
                      <label class="form-checkbox__label" for="checkbox">
                          Даю
                          <a class="form-checkbox__link" href="#">
                              согласие на обработку моих персональных данных.
                          </a>
                      </label>
                  </div>
                  <div class="registration__form--horizontal-stepper">
                      <div class="form--horizontal-stepper__circle-one">
                          1
                      </div>
                      <div class="form--horizontal-stepper__line">

                      </div>
                      <div class="form--horizontal-stepper__circle-two">
                          2
                      </div>
                  </div>
                  <div class="registration__form-button">
                    <a href="{% url "information" %}">
                      <input class="form-button__btn" type="submit" value="Дальше >">
                      {% comment %} <button class="form-button__btn" name="action">Дальше</button> {% endcomment %}
                    </a>
                </div>
              </form>
          </div>
      </div>
  </main>
  <footer class="footer">
      <div class="container">
          <div class="footer__main">
              <div class="footer__items">
                  <div class="footer__items-left">
                      <img src="{% static "images/logo.svg" %}" alt="logo" class="footer__items-left-img-logo">
                      <p class="footer__items-left-text">©ООО “ДТС”, 2023</p>
                  </div>
                  <div class="footer__items-right">
                      <p class="footer__items-right-title">
                          Офис обслуживания
                      </p>
                      <p class="footer__items-right-text">
                          г. Батайск, ул. Козлова, д. 32<br>
                          Тел:
                          <a class="items-right-text__phone" href="tel:+78635224252">
                            +7 (86352) 24-25-2
                          </a><br>
                          Пн- Пт: 17:00 - 22:00<br>
                          Сб-Вс: выходной<br>
                          mail@mail.ru
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  </body>
</html>
