{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock style %}

{% block script %}
    <script src="{% static "js/registration.js" %}" defer></script>
{% endblock script %}

{% block main %}
    <div class="main">
        <div class="reg-from__content">
            <p class="reg-form__title">
                Регистрация
            </p>
            <p class="reg-form__login">
                Уже есть учётная запись?
                <a href="{% url "login" %}" class="reg__form-link">
                    Войти
                </a>
            </p>
        </div>
        <form action="" class="reg-form">
            <div class="reg-form__wrapper">
                <div class="reg-form__flex reg-form__left">
                    <div class="reg-form__group">
                        <label for="last_name" class="reg-form__label">
                            Фамилия
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="text" name="last_name" id="last_name" class="reg-form__input" placeholder="Введите фамилию">
                    </div>
                    <div class="reg-form__group">
                        <label for="first_name" class="reg-form__label">
                            Имя
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="text" name="first_name" id="first_name" class="reg-form__input" placeholder="Введите имя">
                    </div>
                    <div class="reg-form__group">
                        <label for="middle_name" class="reg-form__label">
                            Отчество
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="text" name="middle_name" id="middle_name" class="reg-form__input" placeholder="Введите отчество">
                    </div>
                    <div class="reg-form__group">
                        <label for="phone" class="reg-form__label">
                            Телефон
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="phone" name="phone" id="phone" class="reg-form__input" placeholder="Введите номер телефона">
                    </div>
                </div>
                <div class="reg-form__flex reg-form__right">
                    <div class="reg-form__group">
                        <label for="email" class="reg-form__label">
                            Email
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="email" name="email" id="email" class="reg-form__input" placeholder="Введите email">
                    </div>
                    <div class="reg-form__group">
                        <label for="password" class="reg-form__label">
                            Пароль
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="password" name="password" id="password" class="reg-form__input" placeholder="Введите пароль">
                    </div>
                    <div class="form-error__lines">
                        <div class="form-error__line">

                        </div>
                        <div class="form-error__line">

                        </div>
                        <div class="form-error__line">

                        </div>
                        <div class="form-error__line">

                        </div>
                    </div>
                    <div class="form-error__message">
                        <div class="form-error__content">
                            <img src="{% static "images/registration/cross.svg" %}" alt="" class="form-error__icon">
                            <p class="form-error__text">
                                Содержит только латинские буквы
                            </p>
                        </div>
                        <div class="form-error__content">
                            <img src="{% static "images/registration/cross.svg" %}" alt="" class="form-error__icon">
                            <p class="form-error__text">
                                Содержит минимум 8 символов
                            </p>
                        </div>
                        <div class="form-error__content">
                            <img src="{% static "images/registration/cross.svg" %}" alt="" class="form-error__icon">
                            <p class="form-error__text">
                                Включает цифры
                            </p>
                        </div>
                        <div class="form-error__content">
                            <img src="{% static "images/registration/cross.svg" %}" alt="" class="form-error__icon">
                            <p class="form-error__text">
                                Включает строчные буквы
                            </p>
                        </div>
                        <div class="form-error__content">
                            <img src="{% static "images/registration/cross.svg" %}" alt="" class="form-error__icon">
                            <p class="form-error__text">
                                Включает заглавные буквы
                            </p>
                        </div>
                    </div>
                    <div class="reg-form__group">
                        <label for="repeat_password" class="reg-form__label">
                            Повторите пароль
                            <span class="form__error-star">
                                *
                            </span>
                        </label>
                        <input type="password" name="repeat_password" id="repeat_password" class="reg-form__input" placeholder="Повторите пароль">
                    </div>
                </div>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" name="agreement" id="agreement" class="form-checkbox__input">
                <label for="agreement" class="form-checkbox__label">
                    Даю
                    <a href="#" class="from-checkbox__link">
                        согласие на обработку моих персональных данных.
                    </a>
                </label>
            </div>
            <div class="form-button__container">
                <button class="form-button__next">
                    Дальше
                    <img src="{% static "images/registration/arrow-right.svg" %}" alt="" class="button__next-img">
                </button>
            </div>
        </form>
    </div>
{% endblock main %}
