{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="#" class="header__logo-link">
                <img src="{% static "images/header-footer/logo.svg" %}" alt="" class="header__logo-img">
                <p class="header__logo-title">
                    Личный кабинет потребителя
                </p>
            </a>
            <div class="header__menu">
                <img src="{% static "images/header-footer/alert.svg" %}" alt="" class="header__menu-img">
                <img src="{% static "images/header-footer/help.svg" %}" alt="" class="header__menu-img">
            </div>
        </header>
        {% block main %}
        {% endblock main %}
        <footer class="footer">
            <div class="footer__wrapper">
                <div class="footer__logo">
                    <img src="{% static "images/header-footer/logo.svg" %}" alt="" class="footer__logo-img">
                    <p class="footer__logo-title">
                        ©ООО “ДТС”, 2025
                    </p>
                </div>
                <div class="footer__content">
                    <address>
                        <p class="footer__content-item footer__content-title">
                            Офис обслуживания
                        </p>
                        <p class="footer__content-item">
                            г. Батайск, ул. Козлова, д. 32
                        </p>
                        <p class="footer__content-item">
                            Тел:
                            <a href="tel:+78635224252" class="footer__content-link">
                                +7 (86352) 24-25-2
                            </a>
                        </p>
                        <p class="footer__content-item">
                            Пн- Пт: 17:00 - 22:00
                        </p>
                        <p class="footer__content-item">
                            Сб-Вс: выходной
                        </p>
                        <p class="footer__content-item">
                            <a href="mailto:mail@mail.ru"  class="footer__content-link">
                                mail@mail.ru
                            </a>
                        </p>
                    </address>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
